<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "containter">
    <table>
        <th>
            <tr>
                <td>ID</td>
                <td>제목</td>
                <td>작성자</td>
                <td>작성일</td>
            </tr>
        </th>
        <tbody>
            {% for doc in docs %}
                <tr>
                    <td><a href="{% url 'detailview' doc.id %}">{{doc.id}}</a></td>
                    <td>{{doc.title}}</td>
                    <td>{{doc.author.name}}</td>
                    <td>{{doc.updatedAt}}</td>
                    <td><a href="{% url 'deleteDocument' doc.id %}">삭제기능</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>